<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Подробна информация</title>
  <link rel="stylesheet"  href="/style.css"/>
</head>
<body>
<div class="cardContainer">
  <div th:each="el : ${color}" class="card">
    <p th:text="${el.name}"></p>
    <div class="cardAction">
      <a th:href="'/color/edit/' + ${el.id}" class="btn">Изменить</a>
      <a th:href="'/color/delete/' + ${el.id}" class="back">Удалить</a>
    </div>
  </div>
</div>
<div class="footerNewsAction">
  <a href="/color/" class="back">Назад</a>
</div>
</body>
</html>